<template>
  <div :class="$style.login">
    <h1>Welcome to TimesheetX</h1>
  </div>
</template>

<style module>
.login {
  color: rebeccapurple;
  margin: 0 auto;
  text-align: center;
  animation: fadein 4s;
  font-family: "remedy";
  font-size: 50px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
