<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>
        <v-data-table
          :headers="headers"
          :items="days"
          hide-actions
          class="elevation-1"
        >
        <template slot="items" slot-scope="props">
          <td v-for="test in headers" v-bind:key="test.value">
            <div v-if="test.value === 'date'">{{props.item[test.value]}}</div>
            <div v-else><v-input><input type="text" :value="props.item[test.value]"></v-input></div>
          </td>
        </template>

        </v-data-table>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
export default {
  props: {},
  data() {
    const { days, headers } = this.getInitialData();

    return {
      headers,
      days,
      daysInMonth: {}
    };
  },

  methods: {
    getInitialData: function() {
      const daysInMonth = this.getDaysInMonth(0, 2018);
      const savedDays = {
        activity: {
          "2018": {
            "01": {
              "01": {
                hours: {
                  worked: 8
                },
                explanation: "Test comment",
                mileage: 0,
                added: 1534407987818,
                modified: 1534407987818
              },
              "02": {
                hours: {
                  worked: 4,
                  leave: 4
                },
                explanation: "Test comment",
                mileage: 20,
                added: 1534407987818,
                modified: 1534407987818
              },
              "03": {
                hours: {
                  worked: 4,
                  leave: 4,
                  overtime: 2
                },
                explanation: "Test comment",
                mileage: 0,
                added: 1534407987818,
                modified: 1534407987818
              },
              "04": {
                hours: {
                  worked: 8
                },
                explanation: "Test comment",
                mileage: 0,
                added: 1534407987818,
                modified: 1534407987818
              }
            }
          }
        }
      };
      const days = [];
      const headers = [];

      const currentMonth = this.selectMonth(savedDays, "2018", "01");

      daysInMonth.forEach((value, key) => {
        const currentDay = key + 1;
        const index = currentDay <= 9 ? `0${currentDay}` : currentDay;
        let hours = {};
        let misc = {};

        // Set the headers (columns)
        if (currentMonth[index]) {
          hours = currentMonth[index].hours;

          Object.keys(currentMonth[index].hours).forEach(value => {
            const category = headers.find(x => x.value === value);
            if (!category) {
              headers.push({ text: value, value, sortable: false });
            }
          });

          ["mileage", "explanation"].forEach(value => {
            if (currentMonth[index][value]) {
              misc = {
                ...misc,
                [value]: currentMonth[index][value]
              };

              const category = headers.find(x => x.value === value);
              if (!category) {
                headers.push({ text: value, value, sortable: false });
              }
            }
          });
        }

        days.push({
          date: currentDay,
          ...hours,
          ...misc
        });
      });

      headers.unshift({
        text: "Days",
        align: "left",
        sortable: false,
        value: "date"
      });

      const order = [
        "date",
        "worked",
        "overtime",
        "sick",
        "leave",
        "holiday",
        "available",
        "study",
        "other",
        "standby",
        "mileage",
        "explanation"
      ];

      console.log(headers);

      const sortedHeaders = order
        .map(item => {
          return headers.find(x => x.value === item);
        })
        .filter(item => item);

      console.log(sortedHeaders);

      return { days, headers: sortedHeaders };
    },

    selectMonth: function(activity, year, month) {
      return activity.activity[year][month];
    },

    getDaysInMonth: function(month, year) {
      // Since no month has fewer than 28 days
      var date = new Date(year, month, 1);
      var days = [];
      // console.log("month", month, "date.getMonth()", date.getMonth());
      while (date.getMonth() === month) {
        days.push(new Date(date));
        date.setDate(date.getDate() + 1);
      }
      return days;
    }
  }
};
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
