<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <h3>Essential Links</h3>
    <ul>
      <li v-for="item in listItems" :key="item" @click.prevent="consoleLog(item)" >{{ item }}</li>
    </ul>

  </div>
</template>

<script>
export default {
  data() {
    return {
      listItems: ["1", "2", "3"]
    };
  },
  methods: {
    consoleLog(item) {
      console.log(item);
    }
  },
  mounted() {
    console.log(this.listItems);
  },
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
