<template>
  <v-app>
    <!-- <v-navigation-drawer
      persistent
      :mini-variant="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      enable-resize-watcher
      fixed
      app
    >
      <v-list>
        <v-list-tile
          value="true"
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer> -->
    <v-toolbar app>
      <v-toolbar-title>TimesheetX</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-title>{{ username }}</v-toolbar-title>
        <v-toolbar-items>
        <v-btn flat  v-if="user" @click.prevent="logout"> 
          logout
        </v-btn>
          <v-btn flat  v-else @click.prevent="login"> 
          login
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
    <v-content>
      <router-view/>
    </v-content>
    <v-footer :fixed="true" app>
      <span style="margin-left: 5px;">TimesheetX &copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
import { mapState } from "vuex";
import firebase from "firebase";

export default {
  mounted() {
    this.$store.dispatch("setUser");
  },
  computed: mapState(["username", "user"]),
  methods: {
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => this.$store.dispatch("resetUser"));
    },
    login: async function() {
      const provider = new firebase.auth.GoogleAuthProvider();
      try {
        const { user } = await firebase.auth().signInWithPopup(provider);
        if (user) {
          this.$store.dispatch("setUser");
          this.$router.push("/timesheet");
        }
        this.$router.push("/timesheet");
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>
